body {
    font-family: "Roboto", sans-serif;
    color: rgb(67 68 85);
    background-color: rgb(255 255 255);
}

/* reset */
ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* common */
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */
.page-header {
    border-bottom: 1px solid rgb(231 233 252);
    box-shadow: 0 1px 6px 0 rgba(46 47 66 / 0.08), 0 1px 1px 0 rgba(46 47 66 / 0.16), 0 2px 1px 0 rgba(46 47 66 / 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    /* line-height: 21px; */ 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgb(77 90 229);
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: rgb(46 47 66);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(46 47 66);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(64 75 191);
    border-radius: 2px;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(67 68 85);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: rgb(64 75 191);
}

/* hero section */

.hero-section {
    background-color: rgb(46 47 66);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
}

.main-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;

    /* line-height: 60px; */ 
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgb(255 255 255);
}

.order-service-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0 0 0 / 0.15);
    cursor: pointer;
    background-color: rgb(77 90 229);
    font-weight: 500;
    font-size: 16px;
    min-width: 169px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: rgb(255 255 255);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover,
.order-service-btn:focus {
    background-color: rgb(64 75 191);
}

/* benefits section */
.benefits-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits-container {
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.benefits-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.benefits-item {
    width: calc((100% - 3*24px)/4);
}

.benefits-icon-box {
    height: 112px;
    border: 1px solid rgb(142 143 153);
    border-radius: 4px;
    background-color: rgb(244 244 253);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.benefits-icon {
  display: block;
}

.benefits-title {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgb(46 47 66);
    margin-bottom: 8px;
}   

.benefits-text {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(67 68 85);
}

/* team section */
.team-section {
    background-color: rgb(244 244 253);
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;

    /* line-height: 40px; */ 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: rgb(46 47 66);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.team-item {
    background-color: rgb(255 255 255);
    box-shadow: 0 2px 1px 0 rgba(46 47 66 / 0.08), 0 1px 1px 0 rgba(46 47 66 / 0.16), 0 1px 6px 0 rgba(46 47 66 / 0.08);
    width: calc((100% - 3*24px) / 4);
    border-radius: 0 0 4px 4px;
}

.team-wrapper {
    padding: 32px 16px;
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgb(46 47 66);
    margin-bottom: 8px;
}

.team-role {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(67 68 85);
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: rgb(77 90 229);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: rgb(244 244 253);
}

.social-link:hover,
.social-link:focus {
  background-color: rgb(64 75 191);
}

/* portfolio section */
.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-wrapper {
    padding: 32px 16px;
    border-bottom: 1px solid rgb(231 233 252);
    border-left: 1px solid rgb(231 233 252);
    border-right: 1px solid rgb(231 233 252);
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgb(46 47 66);
    margin-bottom: 8px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 2*24px) / 3);
}   

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-link,
.portfolio-item:focus-within .portfolio-link {
  box-shadow: 0 2px 1px 0 rgba(46 47 66 / 0.08),
              0 1px 1px 0 rgba(46 47 66 / 0.16),
              0 1px 6px 0 rgba(46 47 66 / 0.08);
}

/* Оверлей */
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  inset: 0;
  padding: 40px 32px;
  background-color: rgb(77 90 229);
  color: rgb(244 244 253);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay-text,
.portfolio-item:focus-within .portfolio-overlay-text {
  transform: translateY(0);
}

.portfolio-category {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(67 68 85);
}

/* footer */
.page-footer {
    background-color: rgb(46 47 66);
    padding-top: 100px;
    padding-bottom: 100px;
}  

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-info {
  margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    padding: 1.5px 0;
    margin-bottom: 16px;
}

.footer-logo .logo-part {
    color: rgb(244 244 253);
}

.footer-text {
    max-width: 264px;
    font-size: 16px;
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(244 244 253);
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(255 255 255);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(77 90 229);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: rgb(244 244 253);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: rgb(49 208 170);
}
